.btn {
  display: inline-block;
  text-decoration: none;
  padding: 2rem 6rem;
  border-radius: 5px;
  font-family: $font-family-secondary;
  font-weight: bold;
  font-size: 1.8rem;
  transition: background-color 0.3s;

  &__cta {
    background-color: $color-secondary;
    color: $color-white;

    &:hover {
      background-color: darken($color-secondary, 10%);
    }
  }

  &__service {
    background-color: $color-primary-dark;
    border: 3px solid $color-secondary;
    color: $color-white;

    &:hover {
      background-color: $color-secondary;
    }
  }
}
