.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: $color-primary-dark;
  color: $color-white;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.2s;
  height: 100%;
}

.card-image {
  flex: 1 0 10rem;
  min-width: 200px;
  min-height: 200px;
  position: relative;
  img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }
}

.card-text {
  flex: 2;
  padding: 5rem;
  min-width: 300px;

  h2 {
    color: $color-primary-light;
    font-size: 2.8rem;
    margin-bottom: 1rem;
  }

  p {
    margin: 2.5rem 0;
    font-size: 1.7rem;
  }
}
