.features-ticker {
  font-family: $font-family-secondary;
  font-weight: 700;
  font-size: 1.7rem;
  // margin-top: 100vh;
  background-color: $color-primary;
  color: $color-white;

  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;

  ul {
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    padding: 2.75em 0;

    animation: scroll 20s linear infinite;

    li {
      white-space: nowrap;
      svg {
        width: 2rem;
      }
    }

    .trailing-star {
      padding-right: 30rem;
    }
  }

  img,
  svg {
    height: 2rem;
  }
}

// Animations
@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 2rem));
  }
}

// Media Queries

@media (min-width: 1500px) {
  .features-ticker ul {
    animation: none; // Stop animation
    padding: 2.75em 5vw;
  }

  .features-ticker ul[aria-hidden="true"] {
    display: none; // Hide duplicate ul
  }

  .trailing-star {
    display: none;
  }
}
