.custom-options {
  padding: 5rem 5vw;
}

$hover-card-gap: 2rem;

.hover-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: $hover-card-gap;

  @include respond(tab-port) {
    flex-direction: column;
    gap: 0;
  }
}

.hover-card {
  position: relative;
  width: calc((100% - (2 * #{$hover-card-gap})) / 3);
  height: 40rem;
  min-width: 35rem;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba($color-primary-dark, 0.9);

  @include respond(tab-port) {
    width: 100%;
    height: auto;
    border: 1px solid $color-grid;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    z-index: -1;

    &--custom-1 {
      background-image: url("../../assets/images/1CarGarageWisconsin.jpg");
    }

    &--custom-2 {
      background-image: url("../../assets/images/DetatchedGarageWisconsin.jpg");
    }

    &--custom-3 {
      background-image: url("../../assets/images/CustomGarageWisconsin.jpg");
    }

    @include respond(tab-port) {
      display: none;
    }
  }

  &__text {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    padding: 3rem;
    background-color: rgba($color-primary-dark, 0.9);
    color: $color-white;
    z-index: 2;
    transition: all 0.3s ease;

    @include respond(tab-port) {
      position: relative;
      top: auto;
      padding: 2rem;
    }

    p {
      font-size: 1.5rem;
      display: none;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;

    .toggle-icon {
      font-size: 1.7rem;
      color: $color-white;
    }

    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }

  &__description {
    font-size: 1rem;

    @include respond(tab-port) {
      display: none;
    }

    &--expanded {
      display: block !important;
      margin-top: 2rem;
    }
  }

  @media (min-width: 900px) {
    &:hover {
      .hover-card__image {
        transform: scale(1.05);
      }

      .hover-card__text {
        top: 0;
        height: 100%;
        background-color: $color-primary-dark;

        .hover-card__description {
          opacity: 1;
          transform: translateY(0);
        }

        .hover-card__description {
          display: block;
        }
      }
    }
  }
}

.toggle-icon {
  display: none;

  @include respond(tab-port) {
    display: inline-block;
  }
}
