*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  margin-top: 13rem;
}

body {
  font-size: 1.6rem;
  font-family: $font-family-primary;
}

h1 {
  font-size: 4rem;
  margin: 0 0 20px;
  font-weight: 900;
  letter-spacing: 1px;

  .sub-text {
    display: block;
    font-size: 3rem;
  }
}

h2 {
  font-size: 4rem;
  margin: 0 0 2rem;
  font-weight: 900;
  letter-spacing: 1px;

  .sub-text {
    display: block;
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 2.7rem;
  margin: 0 0 1.5rem;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1.4;

  .sub-text {
    display: block;
    font-size: 2rem;
  }
}

p {
  font-size: 1.7rem;
}

strong {
  font-family: "Lato Black", sans-serif;
}

em {
  font-family: "Lato Italic", sans-serif;
}

.logo {
  filter: brightness(100%);
  opacity: 1;
  // transition: 0.3s ease-in-out;

  &:hover {
    filter: brightness(110%);
    opacity: 0.7;
  }
}

.sub-text {
  display: block;
  font-size: 2.5rem;
}

ul.checkmark-list {
  column-count: 2;
  column-gap: 2rem;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    padding: 1.3rem 2rem 1.3rem 5rem;
    font-size: 2rem;
    font-weight: 900;
    break-inside: avoid;

    &::before {
      content: "";
      background-image: url(../../assets/images/Check.png);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-size: 2.5rem 2.5rem;
      width: 2.5rem;
      height: 2.5rem;
      display: block;
    }
  }

  @include respond(phone) {
    column-count: 1;
  }
}

.grid-background {
  background-color: $color-white;
  background-image: linear-gradient(
      rgba($color-primary-light, 0.25) 2px,
      transparent 2px
    ),
    linear-gradient(
      90deg,
      rgba($color-primary-light, 0.25) 2px,
      transparent 2px
    ),
    linear-gradient(rgba($color-grid, 0.15) 1px, transparent 1px),
    linear-gradient(90deg, rgba($color-grid, 0.15) 1px, transparent 1px);
  background-size: 56px 56px, 56px 56px, 14px 14px, 14px 14px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.cta-link {
  font-family: $font-family-secondary;
  color: $color-white;

  &:hover {
    color: $color-secondary;
  }
}
