// Fonts
.font-secondary {
  font-family: $font-family-secondary;
}

.upper {
  text-transform: uppercase;
}

// Spacing
.margin-top-2 {
  margin-top: 2rem;
}

.padding-top-bottom-5 {
  padding: 5rem 0;
}

.padding-top-bottom-10 {
  padding: 10rem 0;
}

.padding-bottom-5 {
  padding-bottom: 5rem;
}

.text-center {
  text-align: center;
}

// Colors
.color-primary {
  color: $color-primary;
}
