// Colors
$color-primary: #0c447b;
$color-primary-dark: #021528;
$color-primary-light: #a8b8d4;
$color-secondary: #c71a33;
$color-white: #fff;
$color-grid: #969696;
$color-gray-bg: #eef1f6;

// Fonts
$font-family-primary: "Lato", sans-serif;
$font-family-primary-light: "Lato Light", sans-serif;
$font-family-primary-light-italic: "Lato LightItalic", sans-serif;
$font-family-primary-thin: "Lato Thin", sans-serif;
$font-family-primary-thin-italic: "Lato ThinItalic", sans-serif;
$font-family-primary-bold: "Lato Bold", sans-serif;
$font-family-primary-bold-italic: "Lato BoldItalic", sans-serif;
$font-family-primary-black: "Lato Black", sans-serif;
$font-family-primary-black-italic: "Lato BlackItalic", sans-serif;
$font-family-secondary: "Arvo", serif;
