/*
0 - 600px:     Phone
601 - 900px:   Tablet portrait
901 - 1200px:  Tablet landscape
[1201 - 1800]: Desktop (normal styles w/o breakpoint modifiers)
1801px+:       Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

main {
  margin-top: 13rem; }

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif; }

h1 {
  font-size: 4rem;
  margin: 0 0 20px;
  font-weight: 900;
  letter-spacing: 1px; }
  h1 .sub-text {
    display: block;
    font-size: 3rem; }

h2 {
  font-size: 4rem;
  margin: 0 0 2rem;
  font-weight: 900;
  letter-spacing: 1px; }
  h2 .sub-text {
    display: block;
    font-size: 2.5rem; }

h3 {
  font-size: 2.7rem;
  margin: 0 0 1.5rem;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1.4; }
  h3 .sub-text {
    display: block;
    font-size: 2rem; }

p {
  font-size: 1.7rem; }

strong {
  font-family: "Lato Black", sans-serif; }

em {
  font-family: "Lato Italic", sans-serif; }

.logo {
  filter: brightness(100%);
  opacity: 1; }
  .logo:hover {
    filter: brightness(110%);
    opacity: 0.7; }

.sub-text {
  display: block;
  font-size: 2.5rem; }

ul.checkmark-list {
  column-count: 2;
  column-gap: 2rem;
  margin: 0;
  padding: 0;
  list-style: none; }
  ul.checkmark-list li {
    position: relative;
    padding: 1.3rem 2rem 1.3rem 5rem;
    font-size: 2rem;
    font-weight: 900;
    break-inside: avoid; }
    ul.checkmark-list li::before {
      content: "";
      background-image: url(../../assets/images/Check.png);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-size: 2.5rem 2.5rem;
      width: 2.5rem;
      height: 2.5rem;
      display: block; }
  @media (max-width: 37.5em) {
    ul.checkmark-list {
      column-count: 1; } }

.grid-background {
  background-color: #fff;
  background-image: linear-gradient(rgba(168, 184, 212, 0.25) 2px, transparent 2px), linear-gradient(90deg, rgba(168, 184, 212, 0.25) 2px, transparent 2px), linear-gradient(rgba(150, 150, 150, 0.15) 1px, transparent 1px), linear-gradient(90deg, rgba(150, 150, 150, 0.15) 1px, transparent 1px);
  background-size: 56px 56px, 56px 56px, 14px 14px, 14px 14px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; }

.cta-link {
  font-family: "Arvo", serif;
  color: #fff; }
  .cta-link:hover {
    color: #c71a33; }

@font-face {
  font-family: "Arvo";
  src: url("../../assets/fonts/Arvo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

.font-secondary {
  font-family: "Arvo", serif; }

.upper {
  text-transform: uppercase; }

.margin-top-2 {
  margin-top: 2rem; }

.padding-top-bottom-5 {
  padding: 5rem 0; }

.padding-top-bottom-10 {
  padding: 10rem 0; }

.padding-bottom-5 {
  padding-bottom: 5rem; }

.text-center {
  text-align: center; }

.color-primary {
  color: #0c447b; }

.color-primary-light {
  color: #a8b8d4; }

.color-primary-dark {
  color: #021528; }

.btn {
  display: inline-block;
  text-decoration: none;
  width: 30rem;
  max-width: 100%;
  padding: 1.7rem 1.5rem;
  border-radius: 5px;
  font-family: "Arvo", serif;
  font-weight: bold;
  font-size: 1.7rem;
  letter-spacing: 1.8px;
  transition: background-color 0.3s;
  text-align: center; }
  @media (max-width: 75em) {
    .btn {
      font-size: 1.5rem;
      width: auto; } }
  .btn--red-fill {
    background-color: #c71a33;
    color: #fff; }
    .btn--red-fill:hover {
      background-color: #9a1427; }
  .btn--white-fill {
    background-color: #fff;
    color: #c71a33; }
    .btn--white-fill:hover {
      color: #021528;
      background-color: #a8b8d4; }
  .btn--red-outline {
    background-color: #021528;
    border: 3px solid #c71a33;
    color: #fff; }
    .btn--red-outline:hover {
      background-color: #c71a33; }
  .btn--blue-outline {
    background-color: #a8b8d4;
    border: 3px solid #0c447b;
    color: #021528; }
    .btn--blue-outline:hover {
      color: #fff;
      background-color: #0c447b; }
  .btn--no-outline {
    color: #fff; }
    .btn--no-outline span {
      text-decoration: underline; }
    .btn--no-outline:hover {
      color: #c71a33; }
  .btn--nav-quote.shrink {
    max-height: 100%;
    border-radius: 0; }
  @media (max-width: 37.5em) {
    .btn--nav-quote {
      font-size: 1.2rem;
      max-width: 40%;
      height: 100%; } }

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #021528;
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.2s;
  height: 100%; }

.card-image {
  flex: 1 0 10rem;
  min-width: 200px;
  min-height: 200px;
  position: relative; }
  .card-image img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }

.card-text {
  flex: 2;
  padding: 5rem;
  min-width: 300px; }
  .card-text h2 {
    color: #a8b8d4;
    font-size: 2.8rem;
    margin-bottom: 1rem; }
  .card-text p {
    margin: 2.5rem 0;
    font-size: 1.7rem; }

.features-ticker {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-size: 1.7rem;
  background-color: #0c447b;
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden; }
  .features-ticker ul {
    display: flex;
    flex: 0 0 auto;
    min-width: 100vw;
    justify-content: space-between;
    align-items: center;
    animation: scroll 20s linear infinite; }
    .features-ticker ul li {
      list-style: none;
      padding: 5rem 2vw;
      flex: 1;
      text-align: center;
      white-space: nowrap; }
      .features-ticker ul li svg {
        width: 2rem; }
  .features-ticker img,
  .features-ticker svg {
    height: 2rem; }

@keyframes scroll {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-100%); } }

@media (min-width: 1500px) {
  .features-ticker ul {
    animation: none;
    justify-content: space-around; }
  .features-ticker ul[aria-hidden="true"] {
    display: none; }
  .trailing-star {
    display: none; } }

.location-card-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .location-card-wrapper a {
    text-decoration: none;
    color: #000; }
    .location-card-wrapper a:hover {
      color: #0c447b; }

.location-card {
  display: inline-block;
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  text-align: center; }
  .location-card strong {
    display: block; }
  .location-card .service-text {
    display: block; }
  .location-card .star-rating {
    display: block;
    color: #0c447b;
    margin-top: 0.5rem;
    font-size: 1.4rem;
    font-weight: 700; }
    .location-card .star-rating::after {
      content: "";
      display: inline-block;
      width: 1.7rem;
      height: 1.7rem;
      margin-left: 5px;
      background-color: #0c447b;
      -webkit-mask: url("../../../assets/icons/star-icon.svg") no-repeat;
      mask: url("../../../assets/icons/star-icon.svg") no-repeat;
      -webkit-mask-size: contain;
      mask-size: contain;
      vertical-align: middle; }
  .location-card.selected {
    background-color: #bcc9e2; }
  .location-card:hover {
    background-color: #a8b8d4; }

.row {
  display: grid;
  max-width: 140rem;
  margin: 0 auto;
  gap: 8rem 6rem;
  grid-template-columns: repeat(12, 1fr);
  align-items: stretch; }
  @media (max-width: 56.25em) {
    .row {
      gap: 6rem;
      grid-template-columns: 1fr; } }
  @media (max-width: 56.25em) {
    .row [class^="col-"] * {
      grid-column: span 12; } }
  .row .col-1-of-2 {
    grid-column: span 6; }
  .row .col-1-of-3 {
    grid-column: span 4; }
  .row .col-2-of-3 {
    grid-column: span 8; }
  .row .col-1-of-4 {
    grid-column: span 3; }
  .row .col-2-of-4 {
    grid-column: span 6; }
  .row .col-3-of-4 {
    grid-column: span 9; }

header {
  transform-origin: top center; }
  header.shrink .navbar {
    padding: 0 1rem;
    margin: 0;
    max-height: 6rem; }
    header.shrink .navbar__logo {
      max-height: 6rem; }
      header.shrink .navbar__logo img {
        max-height: 6rem !important; }
        @media (max-width: 56.25em) {
          header.shrink .navbar__logo img {
            max-height: 12rem; } }
        @media (max-width: 37.5em) {
          header.shrink .navbar__logo img {
            max-height: 10rem; } }

.navbar {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem 5%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-top: 6px solid #c71a33; }
  .navbar__logo {
    max-width: 33%;
    max-height: 26rem;
    margin-left: 5vw; }
    .navbar__logo img {
      max-width: 100%; }
  .navbar__main-links, .navbar__additional-links {
    display: flex;
    list-style: none; }
    .navbar__main-links li, .navbar__additional-links li {
      margin: 0 1rem; }
      .navbar__main-links li a, .navbar__additional-links li a {
        text-decoration: none;
        font-weight: bold;
        color: #0c447b; }
        .navbar__main-links li a:hover, .navbar__additional-links li a:hover {
          color: #c71a33; }
  .navbar__main-links {
    text-transform: uppercase;
    font-family: "Lato Black", sans-serif;
    letter-spacing: 0.1rem; }
    @media (max-width: 75em) {
      .navbar__main-links {
        font-size: 1.3rem; } }
    @media (max-width: 56.25em) {
      .navbar__main-links {
        display: none; } }
  .navbar__additional-links .navbar__dropdown {
    position: relative; }
    .navbar__additional-links .navbar__dropdown .dropdown-toggle {
      display: flex;
      align-items: center; }
      .navbar__additional-links .navbar__dropdown .dropdown-toggle .chevron {
        margin-left: 0.5rem; }
    .navbar__additional-links .navbar__dropdown:hover .chevron {
      transform: rotate(180deg); }
    .navbar__additional-links .navbar__dropdown .navbar__dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #0c447b;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: none;
      flex-direction: column;
      z-index: 1000;
      list-style: none;
      min-width: 22rem; }
      .navbar__additional-links .navbar__dropdown .navbar__dropdown-menu li {
        margin: 0; }
        .navbar__additional-links .navbar__dropdown .navbar__dropdown-menu li:not(:last-child) {
          border-bottom: 1px solid #021528; }
        .navbar__additional-links .navbar__dropdown .navbar__dropdown-menu li .navbar__dropdown-link {
          min-height: 4.6rem;
          padding: 0.5rem 1rem;
          display: flex;
          /* Ensure it's a flex container */
          justify-content: center;
          /* Center horizontally */
          align-items: center;
          /* Center vertically */
          text-align: center;
          color: #fff;
          white-space: nowrap; }
          .navbar__additional-links .navbar__dropdown .navbar__dropdown-menu li .navbar__dropdown-link:hover {
            background-color: #c71a33; }
    .navbar__additional-links .navbar__dropdown:hover .navbar__dropdown-menu {
      display: flex; }
  @media (max-width: 75em) {
    .navbar__additional-links {
      display: none; } }
  .navbar__hamburger {
    display: none;
    flex-direction: column;
    background: none;
    border: none;
    cursor: pointer; }
    .navbar__hamburger span {
      width: 25px;
      height: 3px;
      background-color: #0c447b;
      margin: 3px 0; }
    @media (max-width: 75em) {
      .navbar__hamburger {
        display: flex; } }
  @media (max-width: 56.25em) {
    .navbar {
      padding: 0.5rem 2rem; } }
  @media (max-width: 37.5em) {
    .navbar {
      padding: 0.5rem 5%; } }

.navbar--open .navbar__main-links,
.navbar--open .navbar__additional-links {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
  .navbar--open .navbar__main-links li,
  .navbar--open .navbar__additional-links li {
    margin: 0.5rem 0; }

* {
  transition: 0.1s ease-in-out; }

.split-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%; }
  .split-container .split-item {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    padding: 5.5rem 5vw;
    min-width: 300px; }

.footer {
  background-color: #fff;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.3px; }
  .footer-upper {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #e1e1e1;
    padding: 7.5rem 5vw 2em; }
    .footer-upper > * {
      flex: 1;
      min-width: 30rem; }
    .footer-upper .footer-logo {
      max-width: 41.8rem; }
      .footer-upper .footer-logo img {
        width: 100%; }
        @media (max-width: 56.25em) {
          .footer-upper .footer-logo img {
            max-width: 30rem; } }
    .footer-upper .footer-links-wrapper {
      display: flex;
      flex-wrap: wrap-reverse;
      align-items: flex-end;
      min-width: 50%; }
      .footer-upper .footer-links-wrapper .footer-links {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 1.5rem 3rem;
        flex: 2;
        align-items: flex-start;
        padding: 0 2vw 0 5.5vw;
        min-width: 30rem; }
        .footer-upper .footer-links-wrapper .footer-links li {
          max-width: 10rem;
          min-width: 10rem;
          flex-grow: 1;
          max-height: 5rem; }
          @media (max-width: 37.5em) {
            .footer-upper .footer-links-wrapper .footer-links li {
              min-width: 34%; } }
        .footer-upper .footer-links-wrapper .footer-links li a {
          text-decoration: none;
          color: #0c447b;
          text-transform: uppercase;
          font-weight: 900; }
          .footer-upper .footer-links-wrapper .footer-links li a:hover {
            color: #c71a33; }
        @media (max-width: 56.25em) {
          .footer-upper .footer-links-wrapper .footer-links {
            justify-content: center; } }
    .footer-upper .footer-cta-cluster {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex: 1;
      min-width: 30rem; }
      .footer-upper .footer-cta-cluster > * {
        margin: 1rem 0; }
      .footer-upper .footer-cta-cluster .copyright {
        margin-top: 1.5rem;
        font-size: 1.4rem;
        color: #888; }
      .footer-upper .footer-cta-cluster .bbb-logo img {
        width: 13.5rem; }
    @media (max-width: 56.25em) {
      .footer-upper {
        flex-direction: column;
        align-items: center; } }
  .footer-lower {
    padding: 2.5em 5vw; }
    .footer-lower .footer-locations {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      justify-items: start;
      padding: 1rem 0; }
      .footer-lower .footer-locations a {
        padding: 1rem;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
        color: #000; }
        .footer-lower .footer-locations a .location-item {
          display: flex;
          align-items: flex-start;
          flex-wrap: nowrap;
          gap: 0.5rem; }
          .footer-lower .footer-locations a .location-item .location-icon {
            display: inline-block;
            height: 1.4rem;
            width: auto;
            vertical-align: middle;
            fill: #0c447b;
            stroke: #0c447b; }
          .footer-lower .footer-locations a .location-item strong {
            font-family: "Lato Bold", sans-serif;
            font-size: 1.7rem;
            line-height: 1.7rem;
            display: block; }
          .footer-lower .footer-locations a .location-item span {
            margin-top: 0.5rem;
            display: block; }
          .footer-lower .footer-locations a .location-item:hover strong {
            color: #0c447b; }
          .footer-lower .footer-locations a .location-item:hover .location-icon {
            fill: #c71a33;
            stroke: #c71a33;
            transform: scale(1.5); }
        .footer-lower .footer-locations a .footer-phone {
          font-size: 1.7rem;
          line-height: 1.7rem;
          font-weight: 900;
          color: #c71a33; }
        .footer-lower .footer-locations a .footer-address {
          font-weight: bold;
          font-size: 1.5rem;
          line-height: 1.5rem; }
      @media (max-width: 56.25em) {
        .footer-lower .footer-locations {
          grid-template-columns: repeat(2, 1fr);
          text-align: center; } }
      @media (max-width: 37.5em) {
        .footer-lower .footer-locations {
          grid-template-columns: 1fr; } }

.hero-section {
  padding-bottom: 100vh; }

.hero-content {
  height: 100%; }

.hero-section-title {
  margin-bottom: 2.3rem; }

.hero-section .hero-content .hero-section-title {
  font-family: "Arvo", serif;
  font-size: 2.03vw;
  color: #fff;
  letter-spacing: 0.04vw;
  display: block;
  margin: 0 0 20px; }
  @media (max-width: 56.25em) {
    .hero-section .hero-content .hero-section-title {
      font-size: 3vw; } }
  @media (max-width: 37.5em) {
    .hero-section .hero-content .hero-section-title {
      font-size: 5vw; } }
  .hero-section .hero-content .hero-section-title strong {
    display: inline-block;
    background-color: #0c447b;
    padding: 0.3rem 1.3vw;
    font-family: "Arvo", serif;
    font-size: 3.2vw; }
    @media (max-width: 56.25em) {
      .hero-section .hero-content .hero-section-title strong {
        font-size: 4vw; } }
    @media (max-width: 37.5em) {
      .hero-section .hero-content .hero-section-title strong {
        font-size: 6vw; } }
  .hero-section .hero-content .hero-section-title span {
    display: block; }
    .hero-section .hero-content .hero-section-title span:last-child {
      font-family: "Lato Bold", sans-serif;
      font-size: 1.2vw;
      font-weight: 600;
      margin-bottom: 2.3rem; }
      @media (max-width: 56.25em) {
        .hero-section .hero-content .hero-section-title span:last-child {
          font-size: 1.5vw; } }
      @media (max-width: 37.5em) {
        .hero-section .hero-content .hero-section-title span:last-child {
          font-size: 2.5vw; } }

.hero-section {
  margin-top: -6.6rem;
  background-image: url("../../../assets/images/HeroImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center; }
  @media (max-width: 75em) {
    .hero-section {
      background-image: url("../../../assets/images/HeroImage1400.jpg"); } }
  @media (max-width: 37.5em) {
    .hero-section {
      background-image: url("../../../assets/images/HeroImage544.jpg"); } }

.hero-section .hero-content {
  position: absolute;
  top: 85%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  z-index: 3;
  width: 42%;
  padding-left: 3.5%;
  text-align: center; }
  @media (max-width: 56.25em) {
    .hero-section .hero-content {
      position: relative;
      top: auto;
      left: auto;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      margin: 0 auto;
      padding-top: 10rem;
      width: 66%; } }
  @media (max-width: 37.5em) {
    .hero-section .hero-content {
      width: 80%; } }

.services-section {
  padding: 5.5rem 5vw 10rem;
  background-color: #fff; }

.features-section {
  padding: 5.5rem 5vw 10rem;
  color: #fff; }
  .features-section .video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5; }
    .features-section .video-container .video {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%; }
    .features-section .video-container .video-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #021528;
      opacity: 0.75;
      pointer-events: none; }
  .features-section h2 .sub-text span {
    color: #c71a33; }
  .features-section h2 .sub-text em {
    color: #a8b8d4; }
  .features-section ol {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5rem 0; }
    .features-section ol strong {
      display: block;
      color: #a8b8d4;
      display: block;
      font-weight: 900;
      font-size: 23px;
      letter-spacing: 0.65px;
      margin-top: 20px;
      margin-bottom: 7px; }
    .features-section ol span {
      display: block; }
    .features-section ol .icon {
      width: 25%;
      text-align: center;
      color: #fff;
      font-weight: normal;
      font-size: 17px;
      letter-spacing: 0.6px;
      min-width: 30rem;
      padding: 1rem 0; }
      .features-section ol .icon img {
        height: 10rem;
        width: auto; }

.financing-section {
  padding: 7rem 0; }
  .financing-section .text-link {
    display: inline-block;
    margin-top: 3rem;
    color: #c71a33;
    font-weight: 900;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    letter-spacing: 0.8px;
    text-decoration: underline;
    display: inline-block; }
    .financing-section .text-link:hover {
      color: #0c447b; }

.service-areas-section {
  background-color: #eef1f6;
  box-sizing: border-box; }
  .service-areas-section .split-image-container {
    background-image: url("../../../assets/images/HomeGarage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    min-height: 40rem; }

.cta-section {
  color: #fff;
  background-color: #c71a33; }

.custom-garages-hero {
  margin-top: -2rem;
  color: #fff;
  background-color: #021528; }
  .custom-garages-hero .split-image-container {
    background-image: url("../../../assets/images/CustomGarageHero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    min-height: 40rem; }
  .custom-garages-hero img {
    fill: #fff;
    stroke: #a8b8d4;
    height: 1.7rem;
    width: auto; }

.custom-service-areas {
  background-color: #eef1f6;
  padding: 10rem 5vw 10rem 5vw; }

.custom-options {
  padding: 10rem 5vw 10rem 5vw; }
