.footer {
  background-color: $color-white;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.3px;

  &-upper {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #e1e1e1;
    padding: 7.5rem 5vw 2em;

    & > * {
      flex: 1;
      min-width: 30rem;
    }

    .footer-logo {
      max-width: 41.8rem;
      img {
        width: 100%;

        @include respond(tab-port) {
          max-width: 30rem;
        }
      }
    }

    .footer-links-wrapper {
      display: flex;
      flex-wrap: wrap-reverse;
      align-items: flex-end;
      min-width: 50%;

      .footer-links {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 1.5rem 3rem;
        flex: 2;
        align-items: flex-start;
        padding: 0 2vw 0 5.5vw;
        min-width: 30rem;

        li {
          max-width: 10rem;
          min-width: 10rem;
          flex-grow: 1;
          max-height: 5rem;

          @include respond(phone) {
            min-width: 34%;
          }
        }

        li a {
          text-decoration: none;
          color: $color-primary;
          text-transform: uppercase;
          font-weight: 900;

          &:hover {
            color: $color-secondary;
          }
        }

        @include respond(tab-port) {
          justify-content: center;
        }
      }
    }

    .footer-cta-cluster {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex: 1;
      min-width: 30rem;

      & > * {
        margin: 1rem 0;
      }

      .copyright {
        margin-top: 1.5rem;
        font-size: 1.4rem;
        color: #888;
      }

      .bbb-logo img {
        width: 13.5rem;
      }
    }

    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;
    }
  }

  &-lower {
    padding: 2.5em 5vw;

    .footer-locations {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      justify-items: start;
      padding: 1rem 0;

      a {
        padding: 1rem;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
        color: #000;

        &:hover {
          strong {
            color: $color-primary;
          }
          .location-icon {
            fill: $color-secondary;
            stroke: $color-secondary;
            transform: scale(1.5);
          }
        }

        .location-item {
          display: flex;
          align-items: flex-start;
          flex-wrap: nowrap;
          gap: 0.5rem;

          .location-icon {
            display: inline-block;
            height: 1.4rem;
            width: auto;
            vertical-align: middle;
            fill: $color-primary;
            stroke: $color-primary;
          }

          strong {
            font-family: $font-family-primary-bold;
            font-size: 1.7rem;
            line-height: 1.7rem;
            display: block;
          }

          span {
            margin-top: 0.5rem;
            display: block;
          }
        }

        .footer-phone {
          font-size: 1.7rem;
          line-height: 1.7rem;
          font-weight: 900;
          color: $color-secondary;
        }

        .footer-address {
          font-weight: bold;
          font-size: 1.5rem;
          line-height: 1.5rem;
        }
      }

      @include respond(tab-port) {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
      }

      @include respond(phone) {
        grid-template-columns: 1fr;
      }
    }
  }
}
