.row {
  display: grid;
  max-width: $grid-width;
  margin: 0 auto;
  gap: $gutter-vertical $gutter-horizontal;
  grid-template-columns: repeat(12, 1fr);
  align-items: stretch;

  @include respond(tab-port) {
    gap: $gutter-vertical-small;
    grid-template-columns: 1fr;
  }

  [class^="col-"] {
    @include respond(tab-port) {
      * {
        grid-column: span 12;
      }
    }
  }

  .col-1-of-2 {
    grid-column: span 6;
  }

  .col-1-of-3 {
    grid-column: span 4;
  }

  .col-2-of-3 {
    grid-column: span 8;
  }

  .col-1-of-4 {
    grid-column: span 3;
  }

  .col-2-of-4 {
    grid-column: span 6;
  }

  .col-3-of-4 {
    grid-column: span 9;
  }
}
