header {
  transform-origin: top center;

  &.shrink {
    .navbar {
      padding: 0 1rem;
      margin: 0;
      max-height: 6rem;

      &__logo {
        max-height: 6rem;

        img {
          max-height: 6rem !important;

          @include respond(tab-port) {
            max-height: 12rem;
          }
          @include respond(phone) {
            max-height: 10rem;
          }
        }
      }
    }
  }
}

.navbar {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-white;
  padding: 1rem 5%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-top: 6px solid $color-secondary;
  // overflow: hidden;  // Hides button overflow, but hides dropdowns

  &__logo {
    max-width: 33%;
    max-height: 26rem;

    img {
      max-width: 100%;
    }
  }

  &__main-links,
  &__additional-links {
    display: flex;
    list-style: none;

    li {
      margin: 0 1rem;

      a {
        text-decoration: none;
        font-weight: bold;
        color: $color-primary;
        &:hover {
          color: $color-secondary;
        }
      }
    }
  }

  &__main-links {
    text-transform: uppercase;
    font-family: $font-family-primary-bold;
    letter-spacing: 0.1rem;

    @include respond(tab-land) {
      font-size: 1.3rem;
    }

    @include respond(tab-port) {
      display: none;
    }
  }

  &__additional-links {
    .navbar__dropdown {
      position: relative;

      .dropdown-toggle {
        display: flex;
        align-items: center;

        .chevron {
          margin-left: 0.5rem;
          // transition: transform 0.3s;
        }
      }

      &:hover .chevron {
        transform: rotate(180deg);
      }

      .navbar__dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $color-primary;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: none;
        flex-direction: column;
        z-index: 1000;
        list-style: none;
        min-width: 22rem;

        li {
          margin: 0;

          &:not(:last-child) {
            border-bottom: 1px solid $color-primary-dark;
          }

          .navbar__dropdown-link {
            min-height: 4.6rem;
            padding: 0.5rem 1rem;
            display: flex; /* Ensure it's a flex container */
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
            text-align: center;
            color: $color-white;
            white-space: nowrap;
            // border-bottom: 1px solid $color-secondary;
            &:hover {
              background-color: $color-secondary;
            }
          }
        }
      }

      &:hover .navbar__dropdown-menu {
        display: flex;
      }
    }

    @include respond(tab-land) {
      display: none;
    }
  }

  &__hamburger {
    display: none;
    flex-direction: column;
    background: none;
    border: none;
    cursor: pointer;

    span {
      width: 25px;
      height: 3px;
      background-color: $color-primary;
      margin: 3px 0;
    }

    @include respond(tab-land) {
      display: flex;
    }
  }

  @include respond(tab-port) {
    padding: 0.5rem 2rem;
  }
  @include respond(phone) {
    padding: 0.5rem 5%;
  }
}

.location-pin {
  height: 1.6rem;
  width: auto;
  margin-right: 0.3rem;
}

.navbar--open {
  .navbar__main-links,
  .navbar__additional-links {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    li {
      margin: 0.5rem 0;
    }
  }
}
