* {
  transition: 0.1s ease-in-out;
}

.split-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  .split-item {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    padding: 5.5rem 5vw;
    min-width: 300px;
  }
}
