*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  margin-top: 13rem;
}

body {
  font-size: 1.6rem;
  font-family: $font-family-primary;
}

h1 {
  font-size: 4rem;
  margin: 0 0 20px;
  font-weight: 900;
  letter-spacing: 1px;
}

h2 {
  font-size: 4rem;
  margin: 0 0 2rem;
  font-weight: 900;
  letter-spacing: 1px;

  .sub-text {
    display: block;
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 2.7rem;
  margin: 0 0 1.5rem;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1.4;
}

strong {
  font-family: "Lato Black", sans-serif;
}

em {
  font-family: "Lato Italic", sans-serif;
}

.text-sub {
  display: block;
  font-size: 2.5rem;
}

.text-block {
  max-width: 140rem;
  margin: 0 auto;
}

@media (max-width: 1800px) {
  text-block {
    max-width: 100rem;
  }
}
