.btn {
  &__cta {
    text-decoration: none;
    background-color: $color-secondary;
    color: $color-white;
    padding: 2rem 6rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.8rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($color-secondary, 10%);
    }
  }
}
